In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv("passing.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  300 non-null    int64
 1   name        300 non-null    object
 2   age         300 non-null    int64
 3   position1   300 non-null    object
 4   position2   137 non-null    object
 5   Apps        300 non-null    object
 6   Mins        300 non-null    int64
 7   Assists     300 non-null    object
 8   KeyP        300 non-null    object
 9   AvgP        300 non-null    float64
 10  PS%         300 non-null    float64
 11  Crosses     300 non-null    object
 12  LongB       300 non-null    object
 13  ThrB        300 non-null    object
 14  Rating      300 non-null    float64
dtypes: float64(3), int64(3), object(9)
memory usage: 35.3+ KB

In [16]:
df1 = df[["name","age","position1","position2", "Apps","Mins", "Assists","KeyP","AvgP", "PS%", "Crosses",
          "LongB", "ThrB","Rating" ]]

In [17]:
df1.head()

,name,age,position1,position2,Apps,Mins,Assists,KeyP,AvgP,PS%,Crosses,LongB,ThrB,Rating
0,Robert Lewandowski Bayern,34,FW,NaN,34,2952,3,1.1,21.6,77.4,0.1,0.4,0.1,7.89
1,Christopher Nkunku RBL,24,M(CLR),FW,31(3),2735,13,1.9,28.2,81.8,0.6,0.6,0.2,7.64
2,Joshua Kimmich Bayern,27,D(CR),DMC,28,2478,11,2.9,84.2,88.0,2.4,5,0.3,7.60
3,Stefanos Kapino Arminia Bielefeld,28,GK,NaN,1,90,-,-,28.0,64.3,-,7,-,7.58
4,Erling Haaland Borussia Dortmund,22,FW,NaN,21(3),1915,7,1,19.2,71.3,-,-,0.1,7.55

In [18]:
print(df1.columns)

Index(['name', 'age', 'position1', 'position2', 'Apps', 'Mins', 'Assists',
       'KeyP', 'AvgP', 'PS%', 'Crosses', 'LongB', 'ThrB', 'Rating'],
      dtype='object')

In [19]:
## 25세 이하 선수들 df2

idx_age = df1[df1['age'] > 25].index
df2 = df1.drop(idx_age)

In [20]:
## 출전 경기, 선발과 교체로 분할

df_app = df2[['Apps']]
df_app['start'] = df_app.Apps.str.split('(').str[0]
df_app['sub'] = df_app.Apps.str.split('(').str[1];
df_app['sub'] = df_app['sub'].replace('[\),]','', regex=True)
df_app = df_app.fillna(0)
df_app

C:\Users\user\AppData\Local\Temp\ipykernel_20676\3916643530.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['start'] = df_app.Apps.str.split('(').str[0]
C:\Users\user\AppData\Local\Temp\ipykernel_20676\3916643530.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['sub'] = df_app.Apps.str.split('(').str[1];
C:\Users\user\AppData\Local\Temp\ipykernel_20676\3916643530.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['sub'] = df_app['sub'].replace('[\),]','', regex=True)

       Apps start sub
1     31(3)    31   3
4     21(3)    21   3
6     22(2)    22   2
7        32    32   0
9     20(2)    20   2
..      ...   ...  ..
294  10(19)    10  19
296   16(8)    16   8
297   16(3)    16   3
298    0(9)     0   9
299  22(11)    22  11

[128 rows x 3 columns]

In [21]:
## 데이터 타입 형변환 (object > 정수형)
df_app['start'] = df_app['start'].astype(int)
df_app['sub'] = df_app['sub'].astype(int)
df_app.dtypes

Apps     object
start     int32
sub       int32
dtype: object

In [22]:
## 25세 이하 / 출전경기 19경기 이상인 선수
df_app2 = pd.DataFrame(df_app.sum(axis=1))
df_app2.columns = ["Apps"]

idx_app = df_app2[df_app2['Apps'] < 19].index
df_app3 = df_app2.drop(idx_app)
df_app3

C:\Users\user\AppData\Local\Temp\ipykernel_20676\3119943422.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_app2 = pd.DataFrame(df_app.sum(axis=1))

     Apps
1      34
4      24
6      24
7      32
9      22
..    ...
283    29
294    29
296    24
297    19
299    33

[97 rows x 1 columns]

In [23]:
df4 = df1.loc[df_app3.index]
df4 = df4.fillna('')
df4

,name,age,position1,position2,Apps,Mins,Assists,KeyP,AvgP,PS%,Crosses,LongB,ThrB,Rating
1,Christopher Nkunku RBL,24,M(CLR),FW,31(3),2735,13,1.9,28.2,81.8,0.6,0.6,0.2,7.64
4,Erling Haaland Borussia Dortmund,22,FW,,21(3),1915,7,1,19.2,71.3,-,-,0.1,7.55
6,Florian Wirtz Leverkusen,19,AM(C),,22(2),1864,10,2.5,33.8,78.7,0.6,1.3,0.5,7.41
7,Nico Schlotterbeck Freiburg,22,D(C),,32,2789,1,0.4,53.9,80.6,-,4.5,0.1,7.39
9,Alphonso Davies Bayern,21,D(L),M(LR),20(2),1744,3,1.5,51.4,84.3,0.4,0.9,0.2,7.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Rubén Vargas Augsburg,24,AM(CLR),FW,26(3),2005,3,0.8,17.9,71.8,0.4,1,-,6.48
294,Jan Thielmann FC Koln,20,AM(CLR),FW,10(19),1182,3,0.8,11.5,62.5,0.5,0.4,-,6.45
296,Gian-Luca Itter Greuther Fuerth,23,D(CL),,16(8),1453,1,0.4,26.5,76.1,0.5,1.1,-,6.44
297,Sebastian Vasiliadis Arminia Bielefeld,24,M(C),,16(3),1199,-,0.3,17.4,64.8,0.1,0.9,-,6.44
299,Jamie Leweling Greuther Fuerth,21,AM(R),FW,22(11),1959,1,0.5,10.8,65.9,0.2,0.4,-,6.43

In [24]:
#포지션별 분류
#포지션이 미드필더 중 나이가 25세 이하, 출전수가 19경기 이상인 선수
dataFilter1 = df4['position1'].str.contains("AM|DMC|M")
df_a = df4[dataFilter1]
dataFilter4 = df_a['position2'].str.contains("A|F")
df5 = df_a[~dataFilter4]
df6 = pd.DataFrame(df5)
df6.to_csv("passing_processing.csv")
df6

,name,age,position1,position2,Apps,Mins,Assists,KeyP,AvgP,PS%,Crosses,LongB,ThrB,Rating
6,Florian Wirtz Leverkusen,19,AM(C),,22(2),1864,10,2.5,33.8,78.7,0.6,1.3,0.5,7.41
14,Moussa Diaby Leverkusen,23,M(CLR),,32,2773,12,1.9,28.2,77.2,0.7,0.9,0.2,7.20
18,Jude Bellingham Borussia Dortmund,19,M(CLR),,32,2795,8,1.2,46.4,83.7,0.1,2.0,0.2,7.12
40,Manu Koné Borussia M.Gladbach,21,DMC,,25(1),2107,-,0.5,43.9,85.5,-,0.9,-,6.99
52,Jamal Musiala Bayern,19,M(CL),,12(18),1458,5,0.9,23.0,84.8,-,0.3,0.1,6.94
56,Anton Stach Mainz,23,DMC,,20(9),1864,6,1.1,31.0,72.7,0.6,1.4,-,6.93
59,Patrick Wimmer Arminia Bielefeld,21,AM(R),,27(4),2067,6,1.4,21.4,58.6,0.6,0.5,0.1,6.92
87,Dominik Szoboszlai RBL,21,AM(CL),,15(16),1538,8,1.3,27.5,81.0,1.2,1,0.1,6.82
89,Amadou Haidara RBL,24,M(CLR),,15(5),1327,1,0.4,38.7,84.1,0.1,1.6,0.1,6.82
102,Salih Özcan FC Koln,24,M(C),,26(5),2310,-,0.6,42.7,84.1,0.2,1.8,-,6.79
108,Florian Neuhaus Borussia M.Gladbach,25,M(C),,23(5),2038,4,0.7,38.5,80.8,0.1,2.2,0.2,6.78
112,Salih Özcan FC Koln,24,M(C),,26(5),2310,-,0.6,42.7,84.1,0.2,1.8,-,6.79
118,Florian Neuhaus Borussia M.Gladbach,25,M(C),,23(5),2038,4,0.7,38.5,80.8,0.1,2.2,0.2,6.78
133,Niklas Dorsch Augsburg,24,DMC,,27(3),2328,-,0.5,35.7,83.4,0.3,3.8,0.1,6.74
151,Paulinho Leverkusen,22,AM(CLR),,14(10),1219,2,0.9,20.0,82.0,0.3,0.2,-,6.71
157,Suat Serdar Hertha Berlin,25,M(CLR),,27(3),2230,-,0.8,19.1,71.4,-,1.2,0.1,6.70
169,Djibril Sow Eintracht Frankfurt,25,DMC,,28(3),2422,3,0.6,39.1,82.9,0.1,2,0.1,6.67
174,Santiago Ascacíbar Hertha Berlin,25,DMC,,27(1),2381,1,0.4,41.3,82.5,-,1.7,-,6.66
188,Max Christiansen Greuther Fuerth,25,DMC,,22(5),2056,-,0.4,34.4,79.3,0.1,1.6,-,6.63
198,Exequiel Palacios Leverkusen,23,M(C),,12(11),1094,2,0.3,33.8,86.4,0.1,2.0,0.2,6.61
199,Maximilian Eggestein Freiburg,25,M(CR),,26(5),2205,2,0.7,29.7,74.4,0.1,0.9,-,6.60
200,Dennis Geiger Hoffenheim,24,M(C),,17(3),1385,2,1.2,36.8,85.6,0.8,2.3,0.1,6.60
207,Leandro Barreiro Mainz,22,DMC,,20(11),1790,2,0.5,16.8,71.6,-,0.4,0.1,6.60
214,Dejan Ljubicic FC Koln,24,M(CR),,22(8),1975,1,0.9,21.7,73.8,0.4,0.9,-,6.59
222,Kevin Schade Freiburg,20,M(R),,7(14),826,1,0.3,7.9,56.4,0.1,-,-,6.58
228,Arne Maier Augsburg,23,M(C),,21(8),1871,6,1.1,25.8,77.1,1.1,2.3,-,6.57
251,Orel Mangala Stuttgart,24,M(C),,22(6),1863,3,1.0,27.9,83.6,-,0.8,-,6.53
254,Timothy Tillman Greuther Fuerth,23,AM(C),,23(6),2018,2,1.0,22.0,76.7,0.5,0.6,0.1,6.53
266,Aster Vranckx Wolfsburg,19,M(C),,12(12),1139,-,0.5,17.2,79.6,0.2,0.5,0.1,6.51
277,Lucas Tousart Hertha Berlin,25,DMC,,22(8),1961,-,0.4,23.3,72.8,0.1,1.6,0.1,6.49
278,Angelo Stiller Hoffenheim,21,DMC,,18(8),1692,1,0.6,36.3,83.8,0.2,1.0,-,6.48
297,Sebastian Vasiliadis Arminia Bielefeld,24,M(C),,16(3),1199,-,0.3,17.4,64.8,0.1,0.9,-,6.44